*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(120deg, #f6d365, #fda085);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.main-header {
  font-size: 1.5rem;
  text-align: center;
}

.main-header,
.form {
  min-height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input,
.todoBtn {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
  outline: none;
}
.todoBtn {
  color: #fda085;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.todoBtn:hover {
  color: #fff;
  background: #fda085;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  width: 30%;
  list-style: none;
}
.tasks-content {
  background: #fff;
  margin: 0.5rem;
  padding-left: 1rem;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.task-item {
  flex: 1;
}
.btn-trash,
.btn-complete {
  background: #fda085;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn-complete {
  background: rgba(73, 204, 73);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transition: all 0.5s ease-in-out;
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.selected {
  appearance: none;
  outline: none;
  border: none;
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: -0.1rem;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.select:hover::after {
  background: #fff;
  color: #ff6f47;
}
